*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html{
    font-size: 62.5%;
}

body{
    font-family: 'Montserrat', sans-serif;
    background-color: #060505;

}

.logo{
    width: 8rem;
    transform: translate(1rem, 1.5rem);
}

.whatsappImg{
    width: 5rem;
    height: 50px;
    position: fixed;
    bottom: 30px;
    right: 15px;
}

.cuerpo{
    display: grid;
    grid-template-columns: 1fr 0.7fr;
    grid-template-rows: 1.8fr 3fr 3fr 3fr 3fr 1.8fr;
    grid-template-areas:
    "header header"
    "principal video"
    "contenedor video"
    "contenedor2 video"
    "contenedor3 video"
    "footer footer"
}

#header{
    grid-area: header;
    display: flex;
    justify-content: space-around;
    background-color: #9058f8;
    position: sticky;
    top: 0px;
    z-index: 1000;
}

.subtitulo h2{
    grid-area: principal;
    font-size: 5.5rem;
    margin: 3rem;
    text-align: center;
    color: #9058f8;
}

.subtitulo2 h3{
    grid-area: contenedor;
    font-size: 3rem;
    text-align: center;
    margin-top: 2rem;
    color: #9b65ff;
    
}


.video{
    grid-area: video;
    display: flex;
    flex-wrap: wrap;
    justify-items: center;
    align-items: center;
}

.opciones{
    grid-area: contenedor2;
    display: flex;
    justify-content: space-around;
    align-items: flex-start;
}


.submenu{
    grid-area: contenedor3;
}

.submenu ul{
    display: flex;
    justify-content:center;
    align-content: center;
    list-style-type: none;
    margin: 4rem;
    padding-right: 14rem;
    gap: 1rem;
}

.footer{
    grid-area: footer;
    display: flex;
}

.titulo{
    font-size: 7.5rem;
}

.textos-barra{
    display: flex;
    margin-top: 4rem;
    list-style-type: none;

}

.item-barra a{
    font-size: 2rem;
    padding: 7rem;
    text-decoration: none;
    color: black;

}  

.opciones a{
    font-size: 2.5rem;
    padding: 1rem;
    text-decoration: none;
    font-weight: bold;
    color: rgb(93, 65, 236);
    border: .2rem solid rgb(97, 65, 255);
    
    
}

.sublista a{    
    text-decoration: none;
    border: .2rem solid rgb(97, 65, 255);
    color: rgb(97, 65, 255);
    font-size: 1.5rem;
    padding: 2rem;
}

.video iframe{
    width: 68rem;
    height: 45.3rem;
}

.footer{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #9058f8;
}

.derechos{
    font-size: 2.5rem;
    color: #000000;
}

@media screen and (max-width:1400px){
    .cuerpo{
        grid-template-columns: 1fr;
        grid-template-rows: .5fr .5fr .5fr .5fr .5fr .5fr 0.2fr;
        grid-template-areas:
        "header"
        "main"
        "contenedor"
        "video"
        "opciones"
        "opciones2"
        "footer" ;
    }
    #header{
        flex-direction: column;
        justify-content:center;
        align-items: center;
        flex-wrap: wrap;
    }

    .main{
        grid-area: main;
    }

    .subtitulo2{
        grid-area: contenedor;
    }
    .video{
        grid-area: video;
        justify-content: space-evenly;
    }
    
    .opciones{
        grid-area: opciones;
        align-items: center;
    }

    .submenu{
        grid-area: opciones2;
    }

    .submenu ul{
        flex-direction: column;
        align-items: center;
        line-height: 10rem;
    }
}