.cuerpo-servicios{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr 3fr 1fr;
    grid-template-areas:
    "header header"
    "opciones foto"
    "pack foto"
    "footer footer" ;
}
.contenedor-subtitulo{
    grid-area: opciones;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    h2{
        margin: 2rem;
        font-size: 5.5rem;
        color: $colorPrincipal
    }
}
.principal-servicios{
    grid-area: pack;
    display: flex;
    flex-direction: column;
}
.pack{
    margin: 2rem;
    h4{
        font-size: 2.5rem;
        color: $colorPrincipal
    }
}
.parrafo-pack{
    font-size: 1.7rem;
    margin-top: 1.5rem;
    font-weight:bold;
    color: $colorSecundario;
    text-align: justify;
}
.aside-servicios{
    grid-area: foto;
    display: flex;
    align-items: center;
    justify-content: center;
}